
.transaction-container {
  padding: 20px;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.upload-btn {
  background-color: #2e8b57;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}
